<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>GilMC</title>
  <link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" href="styles/styles.css"></link>
</head>

<body ng-app="Dashboard">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header navbar-right">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand" href="#"><img src="images/GMCA_logo.png"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#">Link</a></li> -->
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="container main-box">
    <h1 id="time"></h1>
    <div class="row top">

      <div ng-controller="FirstCtrl" class="col-md-7">
        <div class="sub-nav">
          <a href="#">Test</a>
          <a href="#">How-To</a>
          <a href="#">Test</a>
          <a href="#">Test</a>
          <a href="#">Test</a>
        </div>
        <div class="content-box">
          <div ng-repeat="letter in items">
            <p>{{letter.name}}</p>
            <a href={{letter.pdf}}>How-To</a>
          </div>
        </div>
      </div>

      <div ng-controller="SideCtrl" class="col-md-3 col-md-offset-1">
        <div class="sub-nav-side">
          <a>Office</a>
          <a>{{name}}</a>
          <a>List</a>
        </div>

        <div class="sidebar">
        <input class="searchText form-control" ng-model="searchText" type="text" name="searchText" placeholder="Search projects">
          <div class="scrollBox table-responsive">
            <table class="table jobsBox"> <!--Repeat-->
              <tr ng-repeat="job in master | filter: searchText">
                <td>{{job.name}}</td>
                <td>{{job.code}}</td>
                <td>{{job.number}}</td>
                <td>{{job.phase}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row bottom">
      <div class="col-md-7 left">
        <a class="twitter-grid" data-limit="3" data-partner="tweetdeck" href="https://twitter.com/gilmcarchitects/timelines/864486735329333248">Widget</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      <!-- <div class="col-md-4 center">
      <h1>Center</h1>
    </div> -->

      <div class="col-md-5 right">
        <!-- <a class="twitter-timeline" data-width="500" data-height="600" href="https://twitter.com/ArchDaily">Tweets by ArchDaily</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
      </div>
    </div>
  </div>


  <script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="lib/bower_components/moment/min/moment.min.js"></script>
  <script src="lib/bower_components/angular/angular.min.js"></script>
  <script src="lib/bower_components/js-xlsx/dist/xlsx.full.min.js"></script>
  <script src="lib/node_modules/angular-js-xlsx/angular-js-xlsx.js"></script>

  <script src="javascript/controllers.js"></script>
  <script src="javascript/main.js"></script>
</body>

</html>
