body {
    background: url(/images/North.jpg)no-repeat center center fixed;
    background-size: cover;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
}

.main-box {
    width: 90%;
}

.main-box h1 {
    text-align: center;
    font-family: calibri;
    width: 100%;
    margin: 4% 0px;
}

.content-box {
    background-color: rgba(10, 10, 10, 0.53);
    height: 500px;
    color: white;
    text-align: center;
    padding-top: 20%;
}

.sub-nav,
.sub-nav-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

.sub-nav a,
.sub-nav-side a {
    padding: 10px 6%;
    color: black;
}

.sub-nav a:hover,
.sub-nav a:active,
.sub-nav-side a:hover a:active {
    background-color: rgba(10, 10, 10, 0.53);
    text-decoration: none;
}

.sidebar {
    background-color: rgba(10, 10, 10, 0.53);
    height: 500px;
    color: white;
    overflow: hidden;
}

.scrollBox {
    max-height: 495px;
    overflow: auto;
}

.searchText{
    width: 100%;
    background-color: rgba(10, 10, 10, 0.45);
    border-color: transparent;
    border-radius: 0;
    color: white;
}

.left,
.right {
    margin-top: 4%;
}

.twitter-grid {
    width: 400px;
}

.form-control::-webkit-input-placeholder { color: gray; }
.form-control:-moz-placeholder { color: gray; }
.form-control::-moz-placeholder { color: gray; }
.form-control:-ms-input-placeholder { color: gray; }
